/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* modal content */
.modal-content {
    position: fixed;
    background-color: #fff;
    margin: auto;
    padding: 3rem;
    width: 50vw;
    height: 100vh;
    right: 0;
    z-index: 100;
}

/* modal background */
.modal-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 100vh;
    z-index: 99;
    left: 0;
    top: 0;
}

/* close button */
.modal-close {
    cursor: pointer;
}

input,
textarea,
select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    min-width: 300px;
}

textarea {
    resize: vertical;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.2);
    transition: all 0.15s cubic-bezier(0.2, 0, 0.1, 1);
    display: inline;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.grid__content--fixed {
    align-items: baseline;
}

.btn-danger,
.txt-danger {
    color: #e32727 !important;
}

.btn-danger:hover,
.txt-danger:hover {
    text-decoration-color: #e32727 !important;
}

.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.02);
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.grid__container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: none;
    row-gap: var(--grid-gap-m);
    height: fit-content;
}
